{% extends 'layout.njk' %}
{% from 'partials/asideRight.njk' import asideRight %}
{% from 'partials/asideBelow.njk' import asideBelow %}
{% block title %}
        <h1 id="title">{{ page.title }}</h1>
{% endblock %}

{% block content %}
      <article class="content col-sm-9">
        <p><strong>{{ page.lead }}</strong></p>
        {{ page.content }}

        {{ asideBelow(page.blocks.below) }}
      </article>

    {{ asideRight(page.blocks.right) }}
{% endblock %}
