{% macro asideRight(title, content)%}
    <aside class="col-sm-3 text-light bg-body-secondary rounded" data-bs-theme="dark">
        <h2 class="text-center">{{ title }}</h2>
        {% for item in content %}
            {{ item.type(aside) }}
            {% if not loop.last %}<hr>{% endif %}
        {% endfor %}
    </aside>
{% endmacro %}

{% macro note(item) %}
    {% if item.title %}<h3>{{ item.title }}</h3>{% endif %}
    {{ item.content }}
{% endmacro %}

{% macro slide(item) %}
    <div class="card bg-body-secondary">
        <div class="card-body text-white">
            <img src="img/{{ item.headerImage }}" class="card-img-top" alt="{{ item.title }}">
            <div class="card-img-overlay">
                <div class="position-absolute bottom-0 bg-dark bg-opacity-50">
                    <h3 class="card-title"><a href="/post/{{ item.slug }}?lang={{ item.lang }}">{{ item.title }}</a></h3>
                    <p class="card-text">{{ item.content }}</p>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
