<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Unica+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Fira+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="https://use.fontawesome.com/c6547e41bf.js"></script>  
        {% block meta %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
            crossorigin="anonymous">
        
        <link id="theme" rel="stylesheet" type="text/css" href="{{ asset('css/styles.css')}}" title="theme" />
        {% block style %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png')}}" />
    </head>
<body class="{% block bodyClass %}default-page{% endblock %}">
    <header>
        {% block topbar %} {% include "parts/topbar.html.twig" %} {% endblock %}
        {% block header %} {% include "parts/header.html.twig" %} {% endblock %}
    </header>

    <main>
        {% block article %} {% endblock %}
        {% block aside %} {% endblock %}
    </main>

    <footer>
        {% block footer %} {% include "templates/parts/footer.html.twig" %} {% endblock %}
    </footer>

        <!-- compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script> {% block javascripts %}{% endblock %}
    </body>
</html>